/* Fond blanc et texte centré */
body {
    background-color: hsla(234, 100%, 94%, 1);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden; /* Empêche le débordement horizontal */
}

/* Section Contactez-moi */
.contact {
    margin-top: 60px;
    padding: 40px;
    background-color: #f0f0f0;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    text-align: center;
}

.contact h3 {
    font-size: 2.5em;
    color: #4c6ef5;
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button.cta-btn {
    padding: 15px 25px;
    background-color: #080301;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
}

button.cta-btn:hover {
    background-color: #120702;
}
